/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: none;
  background-image: radial-gradient(circle, #222222, black);
}
#canvas {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  z-index: 1000;
  position: relative;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  margin: 25px auto;
  z-index: 2000;
  width: 100%;
  font-family: 'Staatliches', cursive;
  position: fixed;
  font-size: 20px;
  height: 20px;
}
.navContainer a {
  text-decoration: none;
  color: white;
}
.footer {
  color: white;
  font-size: 20px;
  position: fixed;
  bottom: 0%;
  height: 50px;
  margin: 20px auto;
  width: 80%;
  z-index: 1200;
}
.footer a {
  height: 20px;
}
.container {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .slogan {
  margin-top: 300px;
  font-family: 'Special Elite', cursive;
  color: white;
  z-index: 100;
  position: absolute;
  font-size: 75px;
}
