.container {
    margin: auto;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .slogan {
        margin-top: 300px;
        font-family: 'Special Elite', cursive;
        color: white;
        z-index: 100;
        position: absolute;
        font-size: 75px;
    }
}